<a href="https://colab.research.google.com/github/Alona7777/Data_Science/blob/main/%D0%9F%D1%80%D0%B8%D0%BA%D0%BB%D0%B0%D0%B4_%D1%80%D0%B5%D0%BA_%D1%81%D0%B8%D1%81_%D0%BC%D0%B0_%D0%BA%D0%BD%D0%B8%D0%B3%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import requests

In [ ]:
# #Під'єднуємось до гугл диску
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

# Data preparation and analysis

### Users

In [4]:
# Задаємо назви стовпців для користувачів
u_cols = ['user_id', 'location', 'age']

# Зчитуємо дані з CSV файлу в DataFrame
users = pd.read_csv('BX-Users.csv', sep=';', encoding='latin-1', low_memory=False)

# rename columns in lover case
users.columns = u_cols

print(users.head())

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [9]:
users = users.drop(users.index[0])
print(users.shape)
print(users.dtypes)

(278855, 3)
user_id       int64
location     object
age         float64
dtype: object

In [17]:
users.isnull().sum()

user_id          0
location         0
age         110760
dtype: int64

In [19]:
users['age'].describe()

count    168095.000000
mean         34.751533
std          14.428082
min           0.000000
25%          24.000000
50%          32.000000
75%          44.000000
max         244.000000
Name: age, dtype: float64

In [21]:
import numpy as np
users.loc[(users.age>99) | (users.age<5),'age'] = np.nan
users.age = users.age.fillna(users.age.mean())
users.isnull().sum()

user_id     0
location    0
age         0
dtype: int64

### Books (items)

In [11]:
# Задаємо назви стовпців для книг
i_cols = ['isbn', 'book_title', 'book_author', 'year_of_publication', 'publisher', 'img_s', 'img_m', 'img_l']

# Зчитуємо дані з CSV файлу в DataFrame
items = pd.read_csv('BX_Books.csv', sep=';', encoding='latin-1', low_memory=False)

# rename columns in lover case
items.columns = i_cols
# Виводимо перші кілька рядків для перевірки
print(items.head())

         isbn                                         book_title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            book_author  year_of_publication                publisher  \
0    Mark P. O. Morford                 2002  Oxford University Press
1  Richard Bruce Wright                 2001    HarperFlamingo Canada
2          Carlo D'Este                 1991          HarperPerennial
3      Gina Bari Kolata                 1999     Farrar Straus Giroux
4       E. J. W. Barber                 1999   W. W. Norton & Company

                                               img_s  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                               img_m  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                               img_l
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

In [12]:
items = items.drop(items.index[0])
items = items.drop(columns=['img_s', 'img_m', 'img_l'])
print(items.head())

         isbn                                         book_title  \
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi
5  0399135782                             The Kitchen God's Wife

            book_author  year_of_publication               publisher
1  Richard Bruce Wright                 2001   HarperFlamingo Canada
2          Carlo D'Este                 1991         HarperPerennial
3      Gina Bari Kolata                 1999    Farrar Straus Giroux
4       E. J. W. Barber                 1999  W. W. Norton & Company
5               Amy Tan                 1991        Putnam Pub Group

In [13]:
print(items.shape)
print(items.dtypes)

(271378, 5)
isbn                   object
book_title             object
book_author            object
year_of_publication     int64
publisher              object
dtype: object

In [18]:
items.isnull().sum()

isbn                   0
book_title             0
book_author            2
year_of_publication    0
publisher              2
dtype: int64

In [22]:
items.loc[items.publisher.isnull(),:]

,isbn,book_title,book_author,year_of_publication,publisher
128896,193169656X,Tyrant Moon,Elaine Corvidae,2002,NaN
129043,1931696993,Finders Keepers,Linnea Sinclair,2001,NaN

In [23]:
print(sorted(items['year_of_publication'].unique()))

[0, 1376, 1378, 1806, 1897, 1900, 1901, 1902, 1904, 1906, 1908, 1909, 1910, 1911, 1914, 1917, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2008, 2010, 2011, 2012, 2020, 2021, 2024, 2026, 2030, 2037, 2038, 2050]

In [24]:
items.loc[(items.year_of_publication==0)|(items.year_of_publication>2008) ,'year_of_publication' ] = np.nan
items.year_of_publication = items.year_of_publication.fillna(round(items.year_of_publication.mean()))

### Books ratings

In [14]:
# Задаємо назви стовпців для рейтингів
r_cols = ['user_id', 'isbn', 'rating']

# Зчитуємо дані з CSV файлу в DataFrame
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', encoding='latin-1', low_memory=False)

# rename columns in lover case
ratings.columns = r_cols
# Виводимо перші кілька рядків для перевірки
print(ratings.head())

   user_id        isbn  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [16]:
ratings = ratings.drop(ratings.index[0])
print(ratings.shape)
print(ratings.dtypes)

(1149778, 3)
user_id     int64
isbn       object
rating      int64
dtype: object

In [ ]:
ratings.isnull().sum()

user_id    0
isbn       0
rating     0
dtype: int64

### Combining into one df

In [25]:
df = pd.merge(users, ratings, on='user_id')
df = pd.merge(df, items, on='isbn')
df.head(5)

,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher
0,8,"timmins, ontario, canada",34.744,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
1,11400,"ottawa, ontario, canada",49.000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
2,11676,"n/a, n/a, n/a",34.744,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
3,41385,"sudbury, ontario, canada",34.744,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
4,67544,"toronto, ontario, canada",30.000,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada

In [ ]:
df.shape

(1031175, 12)

# Creating recommendations with scikit-surprise

In [26]:
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split
from surprise.model_selection import cross_validate

In [27]:
# Визначення структури даних для бібліотеки Surprise
reader = Reader(rating_scale=(1, 10))

# Завантаження даних в форматі, зрозумілому для Surprise
data = Dataset.load_from_df(df[['user_id', 'isbn', 'rating']], reader)

unique_users = df['user_id'].unique()

# Отримання максимального та мінімального значення рейтингу з DataFrame
max_rating = df['rating'].max()
min_rating = df['rating'].min()

print(f"Максимальне значення рейтингу: {max_rating}")
print(f"Мінімальне значення рейтингу: {min_rating}")

# Вибір алгоритму (наприклад, SVD)
algo = SVD()

# Перевірка алгоритму за допомогою крос-валідації
result_SVD = cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

# Виведення результатів для SVD
print("Виведення результатів для SVD:")
print("RMSE:", result_SVD['test_rmse'].mean())
print("MAE:", result_SVD['test_mae'].mean())
print("Fit Time:", np.mean(result_SVD['fit_time']))
print("Test Time:", np.mean(result_SVD['test_time']))
print()

Максимальне значення рейтингу: 10
Мінімальне значення рейтингу: 0
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    3.5039  3.5009  3.4993  3.4918  3.5038  3.4999  0.0044
MAE (testset)     2.9254  2.9221  2.9227  2.9165  2.9246  2.9223  0.0031
Fit time          15.50   16.08   23.53   16.56   15.82   17.50   3.04
Test time         3.10    4.70    1.76    1.66    1.13    2.47    1.29
Виведення результатів для SVD:
RMSE: 3.499946458023671
MAE: 2.922261213811032
Fit Time: 17.49951810836792
Test Time: 2.469203472137451

In [31]:
# Розділення даних на навчальний та тестовий набори
trainset, testset = train_test_split(data, test_size=0.2)

# Тренування моделі на навчальному наборі
algo.fit(trainset)

# Приклад: рекомендації для певного користувача (user_id = 1)
user_id = '1'

# Отримання книг, які вже оцінив користувач
rated_books = df[df['user_id'] == user_id]['isbn'].tolist()

# Генерація рекомендацій для користувача
recommendations = []

for book_id in df['isbn'].unique():
    if book_id not in rated_books:
        prediction = algo.predict(user_id, book_id)
        recommendations.append((book_id, prediction.est))

# Сортування рекомендацій за прогнозованою оцінкою у спадаючому порядку
recommendations.sort(key=lambda x: x[1], reverse=True)


# Виведення топ-5 рекомендацій
print(f"Топ-5 рекомендацій для користувача з ID {user_id}:")
for book_id, rating in recommendations[:5]:
    book_info = df[df['isbn'] == book_id].iloc[0]
    # print(f"Книга: {book_info['book_title']} - {book_info['book_author']}, Прогнозована оцінка: {rating}")
    print(f"Книга: {book_info['book_title']} - {book_info['book_author']}, Прогнозована оцінка: {rating:.1f}")

Топ-5 рекомендацій для користувача з ID 1:
Книга: Free - Paul Vincent, Прогнозована оцінка: 7.3
Книга: Marching Through Culpeper : A Novel of Culpeper, Virginia, Crossroads of the Civil War - Virginia Beard Morton, Прогнозована оцінка: 6.1
Книга: El Hobbit - J. R. R. Tolkien, Прогнозована оцінка: 5.9
Книга: The Blue Day Book: A Lesson in Cheering Yourself Up - Bradley Trevor Greive, Прогнозована оцінка: 5.6
Книга: Love You Forever - Robert N. Munsch, Прогнозована оцінка: 5.6