# Data analysis and preparation

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
source = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
tables = pd.read_html(source, thousands=".", decimal=",")
for i, table in enumerate(tables):
    print(f"\nTable {i}:")
    print(table.head())

Table 0:
                                                   0
0  Largest economies in the world by GDP (nominal...

Table 1:
                                                   0  \
0  > $20 trillion $10–20 trillion $5–10 trillion ...

                                                   1  \
0  $750 billion – $1 trillion $500–750 billion $2...

                                                   2
0  $50–100 billion $25–50 billion $5–25 billion <...

Table 2:
  Country/Territory   IMF[1][13]            World Bank[14]             \
  Country/Territory     Forecast       Year       Estimate       Year
0             World  109,529,216       2024    105,435,540       2023
1     United States   28,781,083       2024     27,360,935       2023
2             China   18,532,633  [n 1]2024     17,794,782  [n 3]2023
3           Germany    4,591,100       2024      4,456,081       2023
4             Japan    4,110,452       2024      4,212,945       2023

  United Nations[15]
            Estimate       Year
0        100,834,796       2022
1         25,744,100       2022
2         17,963,170  [n 1]2022
3          4,076,923       2022
4          4,232,173       2022

Table 3:
  vteLists of countries by financial rankings  \
0                                       Trade
1                                  Investment
2                                       Funds
3                             Budget and debt
4                            Income and taxes

       vteLists of countries by financial rankings.1
0  Account balance % of GDP Exports by product me...
1                   FDI received past FDI abroad GFI
2  Forex reserves Gold reserves Sovereign wealth ...
3  Government budget PPP % of GDP per capita Cred...
4  Tax rates Inheritance tax Tax revenue Wage ave...

Table 4:
  vteLists of countries by GDP rankings  \
0                               Nominal
1         Purchasing power parity (PPP)
2                           Growth rate
3           Gross national income (GNI)
4                   Countries by region

             vteLists of countries by GDP rankings.1
0  Per capita Past and projected per capita Secto...
1  Per capita Past per capita Past and projected ...
2  African countries Asian states European Union ...
3                  PPP per capita Nominal per capita
4  Africa PPP nominal Commonwealth of Nations PPP...

Table 5:
             vteEconomic classification of countries  \
0  Developed country Developing country Heavily i...
1                             Three/Four-World Model
2                       Gross domestic product (GDP)
3                                            Nominal
4                      Purchasing power parity (PPP)

           vteEconomic classification of countries.1
0  Developed country Developing country Heavily i...
1  First World Second World Third World Fourth World
2  Nominal By country past and projected per capi...
3  By country past and projected per capita per c...
4  By country future estimates per capita per cap...

Table 6:
                               0  \
0                        Nominal
1  Purchasing power parity (PPP)

                                                   1
0  By country past and projected per capita per c...
1  By country future estimates per capita per cap...

In [65]:
df = tables[2]
df.head()

  Country/Territory   IMF[1][13]            World Bank[14]             \
  Country/Territory     Forecast       Year       Estimate       Year
0             World  109,529,216       2024    105,435,540       2023
1     United States   28,781,083       2024     27,360,935       2023
2             China   18,532,633  [n 1]2024     17,794,782  [n 3]2023
3           Germany    4,591,100       2024      4,456,081       2023
4             Japan    4,110,452       2024      4,212,945       2023

  United Nations[15]
            Estimate       Year
0        100,834,796       2022
1         25,744,100       2022
2         17,963,170  [n 1]2022
3          4,076,923       2022
4          4,232,173       2022

In [66]:
print(df.shape)
print(df.dtypes)

(210, 7)
Country/Territory   Country/Territory    object
IMF[1][13]          Forecast             object
                    Year                 object
World Bank[14]      Estimate             object
                    Year                 object
United Nations[15]  Estimate             object
                    Year                 object
dtype: object

In [67]:
df = df.replace(r'\[.*?\]', '', regex=True)
df.head(10)

  Country/Territory   IMF[1][13]       World Bank[14]        \
  Country/Territory     Forecast  Year       Estimate  Year
0             World  109,529,216  2024    105,435,540  2023
1     United States   28,781,083  2024     27,360,935  2023
2             China   18,532,633  2024     17,794,782  2023
3           Germany    4,591,100  2024      4,456,081  2023
4             Japan    4,110,452  2024      4,212,945  2023
5             India    3,937,011  2024      3,549,919  2023
6    United Kingdom    3,495,261  2024      3,340,032  2023
7            France    3,130,014  2024      3,030,904  2023
8            Brazil    2,331,391  2024      2,173,666  2023
9             Italy    2,328,028  2024      2,254,851  2023

  United Nations[15]
            Estimate  Year
0        100,834,796  2022
1         25,744,100  2022
2         17,963,170  2022
3          4,076,923  2022
4          4,232,173  2022
5          3,465,541  2022
6          3,089,072  2022
7          2,775,316  2022
8          1,920,095  2022
9          2,046,952  2022

In [68]:
df = df.drop(df.columns[[2,4,6]], axis=1)
df.head()

  Country/Territory   IMF[1][13] World Bank[14] United Nations[15]
  Country/Territory     Forecast       Estimate           Estimate
0             World  109,529,216    105,435,540        100,834,796
1     United States   28,781,083     27,360,935         25,744,100
2             China   18,532,633     17,794,782         17,963,170
3           Germany    4,591,100      4,456,081          4,076,923
4             Japan    4,110,452      4,212,945          4,232,173

In [69]:
columns = ['country', 'imf_2024', 'world_bank_2023', 'united_nations_2022']
df.columns = columns
df.head()

         country     imf_2024 world_bank_2023 united_nations_2022
0          World  109,529,216     105,435,540         100,834,796
1  United States   28,781,083      27,360,935          25,744,100
2          China   18,532,633      17,794,782          17,963,170
3        Germany    4,591,100       4,456,081           4,076,923
4          Japan    4,110,452       4,212,945           4,232,173

In [70]:
# df = df.apply(lambda x: x.str.replace(',', '').astype(float) if x.dtype == 'object' and x.str.contains(r'^\d{1,3}(,\d{3})*$').any() else x)
# df['imf_2024'] = df['imf_2024'].str.replace(',', '').astype(float)
# df['world_bank_2023'] = df['world_bank_2023'].str.replace(',', '').astype(float)
# df['united_nations_2022'] = df['united_nations_2022'].str.replace(',', '').astype(float)
def clean_and_convert(value):
    if isinstance(value, str):
        try:
            return float(value.replace(',', ''))
        except ValueError:
            return value  # если не удалось преобразовать, возвращаем исходное значение
    return value

# Применение функции к каждому элементу DataFrame
df = df.applymap(clean_and_convert)

print(df.dtypes)
df.head()

country                object
imf_2024               object
world_bank_2023        object
united_nations_2022    object
dtype: object

/var/folders/zb/nl25s0l50sl0r6n18b3fm3w00000gp/T/ipykernel_75228/416297878.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(clean_and_convert)

         country     imf_2024 world_bank_2023 united_nations_2022
0          World  109529216.0     105435540.0         100834796.0
1  United States   28781083.0      27360935.0          25744100.0
2          China   18532633.0      17794782.0          17963170.0
3        Germany    4591100.0       4456081.0           4076923.0
4          Japan    4110452.0       4212945.0           4232173.0

In [75]:
df = df.replace('—', np.nan)

/var/folders/zb/nl25s0l50sl0r6n18b3fm3w00000gp/T/ipykernel_75228/2856885570.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('—', np.nan)

In [76]:
print(df.isnull().sum())
print(df.dtypes)

country                 0
imf_2024               15
world_bank_2023         8
united_nations_2022     1
dtype: int64
country                 object
imf_2024               float64
world_bank_2023        float64
united_nations_2022    float64
dtype: object

In [77]:
df.loc[df['country'] == 'Taiwan']

   country  imf_2024  world_bank_2023  united_nations_2022
22  Taiwan   802.958              NaN                  NaN

In [53]:
missing_values = df[df['united_nations_2022'].isnull()]

print(missing_values)

Empty DataFrame
Columns: [country, imf_2024, world_bank_2023, united_nations_2022]
Index: []

In [78]:
df.imf_2024 = df.imf_2024.fillna(df.imf_2024.mean())
df.world_bank_2023 = df.world_bank_2023.fillna(df.world_bank_2023.mean())
df.united_nations_2022 = df.united_nations_2022.fillna(df.united_nations_2022.mean())
print(df.isnull().sum())

country                0
imf_2024               0
world_bank_2023        0
united_nations_2022    0
dtype: int64

# Building a model and choosing the best one